/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-space {
    flex: 1 1 auto;
}

.centre {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* .header {
    margin-top: 20px;
    margin-bottom: 20px;
} */

#loginButton {
    float: right;
    margin-right: 25%;
}

.card {
    width: 90%;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.comment-card {
    width: 80%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }