<div class="">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let r of redditPosts">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img mat-card-avatar src="{{ r.thumbnail }}">
          <span class="panel-title">{{ r.title }}</span>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <mat-card class="centre">
        <mat-card-header>
          <!-- <img mat-card-avatar src="{{ r.thumbnail }}"> -->
          <!-- <mat-card-subtitle>{{ r.url }}</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="{{ r.url }}" alt="Missing Photo">
        <mat-card-content>
          <p>
            {{ r.created_utc | date: 'medium'}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
</div>


<!-- <mat-card class="example-card centre">
</mat-card> -->

<!-- <mat-card-header>
    <img mat-card-avatar src="{{ r.thumbnail }}">
    <mat-card-title>{{ r.title }}</mat-card-title>
    <mat-card-subtitle>{{ r.url }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ r.url }}" alt="Missing Photo">
  <mat-card-content>
    <p>
      Some more text..?
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->