<mat-card class="login-card">
  <mat-card-header>
    <mat-card-subtitle>Already registered? <button mat-button routerLink="/login">Sign in</button></mat-card-subtitle>
  </mat-card-header>

  <form class="login-form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
    <mat-card-content>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput required name="name" placeholder="Name:" [(ngModel)]="credentials.name" #name="ngModel">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput required name="email" placeholder="Email:" [(ngModel)]="credentials.email" #email="ngModel">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput required type="password" name="password" placeholder="Password" [(ngModel)]="credentials.password"  #password="ngModel">
          </mat-form-field>
        </tr>
      </table>

    </mat-card-content>

    <!-- <mat-spinner *ngIf="!isSubmitted"></mat-spinner> -->
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

      <div *ngIf="name.errors.required">
        Name is required.
      </div>
      <!-- <div *ngIf="credentials.name.errors.minlength">
        Name must be at least 4 characters long.
      </div> -->
      <!-- <div *ngIf="credentials.name.errors.forbiddenName">
        Name cannot be Bob.
      </div> -->
    </div>
    <mat-card-actions>
      <button mat-stroked-button [disabled]="credentials.name.invalid">Register</button>
    </mat-card-actions>
  </form>
</mat-card>