<!-- <div class="container">

  <h1>Hello there</h1>

  <p>Won't you please <a routerLink="/login">sign in</a> or <a routerLink="/register">register</a>?</p>

</div> -->

<!-- <app-reddit-list></app-reddit-list> -->

<!-- <mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="2" [rowspan]="5">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="5">
    <app-post-list></app-post-list>
  </mat-grid-tile>
</mat-grid-list> -->


<app-post-list [showAll]="true"></app-post-list>