<!-- <div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>Register</h1>
      <p class="lead">Already a member? Please <a routerLink="/login">log in</a> instead.</p>
      <form (submit)="register()">
        <div class="form-group">
          <label for="name">Full name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="credentials.name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </div>
        <button type="submit" class="btn btn-default">Register!</button>
      </form>
    </div>
  </div>

</div> -->

<mat-card class="login-card">
  <mat-card-header>
      <mat-card-subtitle>Already registered? <button mat-button routerLink="/login">Sign in</button></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form class="login-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput name="name" placeholder="Name:" [(ngModel)]="credentials.name">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput name="email" placeholder="Email:" [(ngModel)]="credentials.email">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput type="password" name="password" placeholder="Password" [(ngModel)]="credentials.password">
          </mat-form-field>
        </tr>
      </table>
    </form>
    <!-- <mat-spinner *ngIf="!isSubmitted"></mat-spinner> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button (click)="register()">Register</button>
  </mat-card-actions>
</mat-card>