<mat-card class="login-card">
  <mat-card-header>
    <mat-card-subtitle>Enter new post:</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form class="login-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput disabled="true" name="user" placeholder="User" [(ngModel)]="post.user_id">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput name="title" placeholder="Title" [(ngModel)]="post.title">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput type="text" name="content" placeholder="Content..." [(ngModel)]="post.content">
          </mat-form-field>
        </tr>
      </table>
    </form>
    <!-- <mat-spinner *ngIf="!isSubmitted"></mat-spinner> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button (click)="savePost()">Post</button>
  </mat-card-actions>
</mat-card>