<h1 mat-dialog-title>Edit Post</h1>
<div mat-dialog-content>
  <form>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <mat-form-field class="example-full-width">
          <input matInput disabled="true" name="post_username" placeholder="Username" [(ngModel)]="post.username">
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field class="example-full-width">
          <input matInput name="title" placeholder="Title" [(ngModel)]="post.title">
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field class="example-full-width">
          <textarea matInput type="text" name="content" placeholder="Content..." [(ngModel)]="post.content"></textarea>
        </mat-form-field>
      </tr>
    </table>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onPostUpdate()">Update</button>
  <button mat-button (click)="goBack()">Back</button>
</div>